.Yellow__box{

    background: linear-gradient(180deg, #f7cf0580 0%, rgba(244, 224, 115, 0.354167) 64.58%, rgba(255, 237, 145, 0.213542) 78.65%, rgba(255, 249, 220, 0.145833) 85.42%, rgba(253, 252, 248, 0) 100%);
    color: rgb(11, 11, 57);
}


.Blue__box {
background: linear-gradient(180deg, #09efff5c 0%, rgba(82, 231, 240, 0.46875) 53.12%, rgba(183, 226, 228, 0.125) 87.5%, rgba(183, 228, 231, 0) 100%);
color: rgb(11, 11, 57);
}

.Pink__box{
    background: linear-gradient(180deg, #fb0aff5a 0%, rgba(247, 71, 251, 0.484375) 51.56%, rgba(236, 126, 238, 0.255208) 74.48%, rgba(222, 152, 223, 0.182292) 81.77%, rgba(223, 188, 224, 0.0989583) 90.1%, rgba(209, 188, 209, 0.0572917) 94.27%, rgba(217, 217, 217, 0) 100%);
}

.Green__box{
    background: linear-gradient(180deg, #07ff0369 0%, rgba(104, 234, 101, 0.53125) 46.88%, rgba(172, 239, 170, 0.302083) 82.29%, rgba(235, 255, 235, 0) 100%, rgba(227, 248, 227, 0) 100%);
}



.Darkblue__Box{
background: linear-gradient(180deg, #063af55a 0%, rgba(102, 126, 209, 0.442708) 55.73%, rgba(99, 114, 169, 0.208333) 79.17%, rgba(229, 233, 250, 0) 100%);
}

 